body {
  font-family: sans-serif;
  padding: 15px;
  max-width: 800px;
  margin: auto;
}

input, textarea, select, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  cursor: pointer;
}

.formulaire {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
}

.image-recette {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.fiche {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
